<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="assets/css/postcomment.css"/>
    <style>
        body {
            padding-top: 50px;
        }

        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>


<div class="container">
    <form th:action="@{/logout}" method="post">
        <input class="btn btn-info" type="submit" value="Log out"/>
    </form>
    <div class="starter-template">
        <h1>PolytechFeed</h1>
        <p class="lead">Share your story :)</p>
    </div>
    <div class="container">

        <!-- Post Create Box
           ================================================= -->
        <div class="col-md-offset-3 col-md-7">
            <div class="create-post">
                <div class="row">
                    <form accept-charset="UTF-8" th:action='@{/post}' method="POST">
                        <div class="col-md-7 col-sm-7">
                            <div class="form-group">
                                <textarea name="content" cols="30" rows="2" class="form-control"
                                          placeholder="Write what you wish"></textarea>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <div class="tools">
                                <button class="btn btn-primary pull-right" type="submit" value="post">Publish</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- Post Create Box End-->

            <div class="post-content" th:each="post:${posts}">
                <div class="post-container">
                    <div class="post-detail">
                        <div class="user-info">
                            <h5 th:text="${post.getUser().getUsername()}"></h5>
                        </div>

                        <div class="line-divider"></div>
                        <div class="post-text">
                            <p>
                                <td th:text="${post.getContent()}"></td>
                            </p>
                        </div>
                        <input type="hidden" id="postid" name="postid" th:value="${post.getId()}"/>
                        <button id="loadButton" name="loadButton"  type="button">
                            View Comments
                        </button>
                        <div class="line-divider"></div>
                        <div id="listcomment" name = "listcomment" class="post-comment">

                        </div>
                        <div class="post-comment">
                            <!--<form  class="form-horizontal"
                                   th:action='@{/comment/} + ${post.getId()}' method="post" role="form"
                                   onkeydown=" if (event.keyCode == 13) this.submit();">-->
                            <input id="comment" name="content" type="text" class="form-control"
                                   placeholder="Post a comment"/>
                            <!--</form>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('button[name=loadButton]').one("click",function(){
            var id = $(this).closest('div').find('input[name=postid]').val();
            var url = '/comment/' + id;
            $(this).closest('div').find('div[name=listcomment]').load(url);
        });
        $('input[name=content]').keypress(function(e){
            if(e.which == 13) {
                var id = $(this).parent().parent().find('input[name=postid]').val();
                var url = '/write/' + id + '/' + $(this).val();
                $(this).parent().parent().find('div[name=listcomment]').load(url);
                $(this).val("");
            }
        });
    });
</script>
</body>
</html>